@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    /* min-height: 100dvh;  */
    width: 100dvw;
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;   
    justify-content: center;
}

#config-display{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

#condig-carregamento{
    height: 100vh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    background: white;
}

#modal-carregamento{
    text-align: center;
    width: 500px;
}

#modal-carregamento > h1{
    font: normal bold 32px 'arial';
    color: #2c3462;
}

#modal-carregamento > p{
    font: normal normal 25px 'arial';
    color: #2c3462;
}

#config-perfil{
    border: 8px solid #2c3462;
    background: #2c3462;
    border-radius: 100%;
    width: 150px;
}

#config-perfil2{
    border: 8px solid #2c3462;
    background: #2c3462;
    border-radius: 100%;
    width: 200px;
}

#barra-completa{
    margin: auto;
    width: 280px;
    height: 10px;
    border-radius: 10px;
    background: #E3E3E3;
    overflow: hidden;
}

@keyframes carregamento {
    to{
        width: 100%;        
    }
}

#barra-preenchida{
    width: 0%;
    height: 10px;
    border-radius: 10px;
    background: #2c3462;
    animation: carregamento 2s ease-in both;
}

#estilo-perfil{
    background: #E1E1E1;
    min-height: 100dvh;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#estilo-titulo{
    font: normal normal 50px 'arial';
    color: #525456;
}

.estilo-texto{
    font: normal normal 30px 'arial';
    align-items: center;
    color: #525456;
    display: flex;
}

.material-symbols-outlined{
    font-size: 30px;
    font-weight: bolder;
}

.estilo-botao-padrao{
    font: normal normal 25px "arial";
    background: #2C3462;
    border-radius: 5px;
    transition: 300ms;
    color: #d7e6fb;
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 75%;
}

.estilo-botao-padrao:active{
    transform: scale(0.95);
}