@charset "utf-8";

@media screen and (max-width:960px){  
    #estilo-camera{
        width: 180px;
    }

    #estilo-especifico, #config-botao-div{
        width: 70%;
    }

    .config-display-label > input[type=text]{
        font-size: 20px;
        padding: 5px;
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    #config-form{
        display: flex;
        flex-flow: column nowrap;
    }

    .estilo-div-padrao{
        min-height: auto;
        width: 100dvw;
    }

    #estilo-div-especifico1{
        margin-bottom: 10px;
        padding: 40px 0px;
    }  

    .config-display-label{
        margin: 30px 0px;
    }

    .config-display-label > input[type=text]{
        font-size: 25px;
    }

}

@media screen and (orientation: landscape) and (max-height: 440px){
    #config-perfil2{
        width: 150px;
    }

    #estilo-titulo{
        font-size: 35px;
    }

}