@charset "utf-8";

@media screen and (max-width:960px){  
    #estilo-camera{
        width: 180px;
    }

    #estilo-especifico{
        width: 70%;
    }

    .config-display-label > input[type=text]{
        font-size: 20px;
    }

    #config-botao-div{
        width: 70%;
    }

}