@charset "utf-8";

@media screen and (max-width:960px){  
    #estilo-camera{
        width: 180px;
    }

    #estilo-especifico{
        width: 70%;
    }

    .config-display-label > input[type=text]{
        font-size: 20px;
    }

    #config-botao-div{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    #config-form{
        display: flex;
        flex-flow: column nowrap;
    }

    .estilo-div-padrao{
        min-height: auto;
        width: 100dvw;
    }

    #estilo-div-especifico1{
        padding: 40px 0px;
        margin-bottom: 10px;
    }    
}