*{
    padding: 0;
    margin: 0;
}

body{
    background: #d7e6fb;
    overflow-x: hidden;
    width: 100dvw;
    height: 600px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

form{
    box-shadow: 5px 5px 5px #00000053;
    border-radius: 10px;    
    background: white;
    height: 450px;
    width: 900px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#container-form{
    width: 100%;
    height: 70%;
    border: 1px solid black;
}