@media screen and (max-width: 645px){
    #config-especifico2{
        display: none;
    }

    .config-padrao{
        width: 100%;
    }
}

@media screen and (max-width: 620px){
    body{
        background: red;
    }
}