@charset "UTF-8";

body{
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
}

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resources/fonts/font-titulo.ttf);
}

/* configurações padrões de input */

.estilo-titulo-padrao{
    font: normal bold 60px 'fonte-titulo';
    color: black;
}

.estilo-titulo-padrao2{
    font: normal bold 35px 'fonte-titulo';
    color: white;
}

.estilo-padrao-inputs{
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.estilo-input-padrao{
    margin: -20px 0px 0px 0px;
    padding: 10px 0px; 
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    font: normal normal 25px "arial";
}

.material-symbols-outlined{
    font-size: 50px;
}

.estilo-icon2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-top: 6px;
}

/* configurações padrões de mensagem/aviso*/

.mensagem, .mensagem > a{
    font: normal normal 20px "arial";
    color: black;
}

.mensagem > a:hover{
    color: grey;
}

/* configurações padrões de botões */

.estilo-botao-padrao, .estilo-botao-padrao2{
    font: normal normal 20px "arial";
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
    color: white;
    border: none;
}

.estilo-botao-padrao2{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 0px;
    font-size: 18px;
    width: 100px;
}

.estilo-botao-padrao2:hover{
    text-decoration: underline;
}

.estilo-botao-padrao:active, .estilo-botao-padrao2:active{
    transform: scale(0.95);
}

.config-comprimento-tipo1{
    width: 100%;
}

/* configurações do modal de erro */

#config-display-mensagem-erro, #config-display-mensagem{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

#config-display-mensagem{
    background: white;
    display: none;
}

.config-mensagem-erro{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.mensagem-erro{
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 0px #e1e1e1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.config-especifico-mensagem{
    background: black;
    text-align: center;
    padding: 20px 0px;
    margin: 5px 0px;
    color: white;
    width: 100%;
}

/* configurações de navegação */

.config-display-header{
    display: block;
    width: 100dvw;
}

.config-nav{
    background: black;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.config-nav > a{
    font: normal normal 20px arial;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.config-nav > h1{
    margin-right: auto;
}

.config-nav > a:last-child{
    margin-left: auto;
}

.config-nav > a:hover, .config-nav > h1:hover{
    text-decoration: underline;
}

/* configurações padrões de formulários */

.config-display-block-formulario{
    margin-top: 10px;
    width: 100%;
}

.config-display-form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.config-padrao{
    padding: 0px 130px 0px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.config-especifico4{
    box-shadow: 8px 8px 0px #e1e1e1;
    background: white;
    border-radius: 20px;
    height: 450px;
    width: 75dvw;
    margin: auto;
}

/* configurações de responsividade */

@media screen and (max-width: 1300px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
    .config-display-header{
        display: none;
    }
}

@media screen and (max-height: 500px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
    .config-display-header{
        display: none;
    }
}