@charset "UTF-8";

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resources/fonts/font-titulo.ttf);
}

/* configurações padrões de input */

.estilo-titulo-padrao{
    font: normal bold 60px 'fonte-titulo';
    color: black;
}

.estilo-padrao-inputs{
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.estilo-input-padrao{
    margin: -20px 0px 0px 0px;
    padding: 10px 0px; 
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    font: normal normal 30px "arial";
}

.material-symbols-outlined{
    font-size: 60px;
}

/* configurações padrões de mensagem/aviso*/

.mensagem, .mensagem > a{
    font: normal normal 20px "arial";
    color: black;
}

.mensagem > a:hover{
    color: grey;
}

/* configurações padrões de botões */

.estilo-botao-padrao{
    font: normal normal 20px "arial";
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
    color: white;
    border: none;
}

.estilo-botao-padrao:active{
    transform: scale(0.95);
}

.config-comprimento-tipo1{
    width: 100%;
}

/* configurações do modal de erro */

#config-display-mensagem-erro, #config-display-mensagem{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

#config-display-mensagem{
    background: white;
    display: none;
}

.config-mensagem-erro{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.mensagem-erro{
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 0px #e1e1e1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.config-especifico-mensagem{
    background: black;
    text-align: center;
    padding: 20px 0px;
    margin: 5px 0px;
    color: white;
    width: 100%;
}

/* configurações de responsividade */

@media screen and (max-width: 1200px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
}

/* @media screen and(orientation: portrait) and(min-width: 1200px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
} */