body{
    width: 100dvw;
    display: flex;
    min-height: 100dvh;
    flex-flow: column nowrap;
    overflow-y: auto;
}

#config-button-div{
    text-align: center;
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#config-button-div > span{
    font-size: 100px;
}

#elemento-div{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#config-comprimento3{
    text-align: center;
    width: 250px;
}

#config-especifico{
    margin-top: 10px;
    /* background: red; */
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}