body{
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#estilo-container{
    box-shadow: -8px 8px 0px #e1e1e1;
    border-radius: 20px;
    margin: 0px 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#config-display-form{
    display: block;
    width: 1000px;
    height: 450px;
}

.estilo-padrao-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#estilo-especifico2{
    background: black;
}

#estilo-icon{
    width: 70%;
    border-radius: 100%;
    background: white;
    border: 2px solid black;
}

#config-container{
    padding: 10px;
}

#estilo-mensagem{
    font: normal normal 20px arial;
    margin-bottom: 10px;
}

#config-espaço{
    margin: 25px 0px;
}

#estilo-mensagem > a{
    color: black;
}

#estilo-botao1{
    width: 100%;
}

#config-display-form{
    display: block;
}