@charset "UTF-8";

body{
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
}

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fonte-titulo';
    src: url(../resources/fonts/font-titulo.ttf);
}

/* configurações padrões de input */

.estilo-titulo-padrao{
    font: normal bold 60px 'fonte-titulo';
    color: black;
}

.estilo-titulo-padrao2{
    font: normal bold 35px 'fonte-titulo';
    color: white;
}

.estilo-padrao-inputs{
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.estilo-padrao-inputs2{
    width: 75%;
    margin: 15px 0px;
}

.estilo-input-padrao{
    margin: -20px 0px 0px 0px;
    padding: 10px 0px; 
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    font: normal normal 25px "arial";
}

.estilo-input-padrao2{
    padding: 0px 0px 5px 0px;
    font-size: 25px;
    width: 98%;
    margin: 0;
}

.estilo-input-padrao3{
    width: 230px;
}

.material-symbols-outlined{
    font-size: 50px;
}

.estilo-icon2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-top: 6px;
}

.estilo-icon3{
    margin: 0;
    padding: 0;
    font-size: 45px;
    /* margin-top: -px; */
}

/* configurações padrões de mensagem/aviso*/

.mensagem, .mensagem > a{
    font: normal normal 20px "arial";
    color: black;
}

.mensagem > a:hover{
    color: grey;
}

/* configurações padrões de botões */

.estilo-botao-padrao, .estilo-botao-padrao2, .estilo-botao-padrao3{
    font: normal normal 20px "arial";
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: 200ms;
    cursor: pointer;
    color: white;
    border: none;
}

.estilo-botao-padrao2{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 0px;
    font-size: 18px;
    width: 100px;
}

.estilo-botao-padrao4{
    width: 68%;
    height: 58%;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estilo-botao-padrao4 > span{
    font-size: 100px;
}

.estilo-botao-padrao3{
    text-align: center;
    padding: 10px;
    width: 300px;
}

.estilo-botao-padrao5, .estilo-botao-padrao6{
    border-radius: 100%;
    background: black;
    font-size: 30px;
    margin: 0px 5px;
    cursor: pointer;
    color: white;
    padding: 8px;
}

.estilo-botao-padrao2:hover{
    text-decoration: underline;
}

.estilo-botao-padrao:active, .estilo-botao-padrao2:active, .estilo-botao-padrao3:active, .estilo-botao-padrao5:active{
    transform: scale(0.95);
}

.config-comprimento-tipo1{
    width: 100%;
}

.config-positon-padrao{
    width: 50%;
    position: fixed;
    top: 90dvh;
    left: 90dvw;
}

.estilo-botao-padrao7{
    padding: 5px 80px;
}

.estilo-botao-padrao7 > span{
    font-size: 30px;
}

/* configurações do modal de erro */

#config-display-mensagem-erro, #config-display-mensagem{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

#config-display-mensagem{
    background: white;
    display: none;
}

.config-mensagem-erro{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.mensagem-erro{
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 0px #e1e1e1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.config-especifico-mensagem{
    background: black;
    text-align: center;
    padding: 20px 0px;
    margin: 5px 0px;
    color: white;
    width: 100%;
}

/* configurações de navegação */

.config-display-header{
    display: block;
    width: 100dvw;
}

.config-nav{
    background: black;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.config-nav > a{
    font: normal normal 20px arial;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.config-nav > h1{
    margin-right: auto;
}

.config-nav > a:last-child{
    margin-left: auto;
}

.config-nav > a:hover, .config-nav > h1:hover{
    text-decoration: underline;
}

/* configurações padrões de formulários */

.config-display-block-formulario{
    margin-top: 10px;
    width: 100%;
}

.config-display-form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.config-padrao{
    padding: 0px 130px 0px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.config-especifico4{
    box-shadow: 8px 8px 0px #e1e1e1;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    height: 450px;
    width: 84dvw;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.config-especifico5{
    justify-content: flex-start;
    align-items: center;
}

.config-form-padrao{
    width: 100%;
}

.config-form-padrao{
    width: 100%;
}

.estilo-form-especifico1{
    height: 80%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.estilo-form-especifico2{
    height: 15%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}

.comprimento-padrao-forms{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.config-display-form-inline{
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

/* configurações de tabela */

.config-display-block-tabela{
    background: white;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.config-display-block-tabela{
    width: 100dvw;
    height: 100dvh;
}

.estilo-padrao-tabela{
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
    width: 95%;
    margin-top: 10px;
}

th, td{
    font: normal bold 15px "fonte-titulo";
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0px;
    overflow: hidden;
}

.comprimento-padrao-campo{
    width: 50px;
}

th{
    border: 2px solid black;
    background: #191919;
    color: white;
    position: sticky;
    top: 0;
}

td{
    border: 1px solid #0000004d;
    font: normal lighter 15px arial;
    text-align: center;
}

tr:hover{
    background: #0000001f;
}

.comprimento-botao{
    width: 100px;
}

.condig-tamanho-tabela{
    overflow-y: auto;
    height: 300px;
    width: 100%;
    border: 1px solid #0000003d;
}

.condig-tamanho-tabela2{
    height: 210px;
}

.condig-tamanho-tabela::-webkit-scrollbar{
    display: none;
}

/* configurações de responsividade */

@media screen and (max-width: 1300px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
    .config-display-header{
        display: none;
    }
}

@media screen and (max-height: 500px){
    #config-display-mensagem{
        display: block;
    }
    #config-container-display{
        display: none;   
    }
    .config-display-header{
        display: none;
    }
}

@media print {
    .config-positon-padrao{
        display: none;
    }
}

/* configurações padrões de exclusão */

.config-display-excluir{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.comprimento-botao{
    width: 120px;
}

.config-inline-flex{
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
}

.estilo-comprimento-padrao-input1{
    width: 210px;
}

.estilo-padrao-inputs3{
    width: 260px;
}

.estilo-padrao-inputs4{
    width: 240px;
}