main{
    margin: auto;
    margin-top: 140px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}

.estilo-padrao-lista{
    border-radius: 20px;
    padding: 15px 10px;
    transition: 300ms;
    height: auto;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.estilo-padrao-lista:hover{
    transform: scale(1.02);
}

.estilo-icone-produto{
    width: 150px;
    border-bottom: 2px solid black;
}

.estilo-titulo-lista{
    font: normal bold 30px 'fonte-titulo';
}

.estilo-valor-lista{
    font: normal normal 20px arial;
}

#config-header-especifico{
    position: fixed;
}